.lp-pant {

    &--btn {
        font-family: 'Walsheim Bold';
        min-height: 40px;
        width: 50%;
        padding: 20px 70px;
        text-align: center;
        border: none;
        box-shadow: 0px 10px 10px #340c11;
        font-size: 17px;
        text-transform: uppercase;
        line-height: 19px;
        transition: border 0.1s ease-in;
        letter-spacing: 2px;
        z-index: 1;
        transition: all 0.3s;
        cursor: pointer;

        @media screen and(max-width: 500px) {
            font-size: 16px;
            padding: 20px 30px;
        }

        &-gold {
            background: linear-gradient(to right bottom, rgb(173, 129, 48), rgb(231, 211, 157), #DF9F28);
            color: #0e2f22;
            border: 4px solid #4c131b;

            &:hover,
            &:active,
            &.active,
            &:focus {
                border-image-source: linear-gradient(to right bottom, #BF953F, #FCF6BA, #B38728);
                border-image-slice: 1;
                color: #d0b376;
                background: #340c11;
                outline: none;
                z-index: 2;
            }

            &:hover{
                transform: scale(1.02);
            }
        }
    }

    &--btn-group {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    
        button {
            margin-right: -5px;
        }
    
        @media screen and(max-width: 768px) {
            width: 90%;
            flex-direction: column;
    
            button {
                margin-right: 0;
                margin-bottom: -3px;
            }
        }
    }
}