.lp-pant {

    &--scrolldown{
        background: none;
        border: none;
        background-image: url(../img/chevron-down.png);
        background-position: center;
        background-position: contain;
        background-repeat: no-repeat;
        width: 80px;
        height: 80px;
        cursor: pointer;
        position: absolute;
        bottom: 40px;
        right: 47%;
        z-index: 1;
        
        @media screen and(max-width: 768px){
            right: 42%;
            width: 40px;
            height: 40px;
            bottom: 90px;
        }

        @media screen and(max-width: 768px){
            right: 42%;
            width: 40px;
            height: 40px;
            bottom: 60px;
        }

        @media screen and (min-width: 768px) and (max-height: 700px){
            bottom: 18px;
        }
        
        &:focus, &:active{
            outline: none;
        }
    }
    
    &--divisor{
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        
        &::after {
            background-image: url(../img/divisor-home.png);
            position: absolute;
            content: '';
            z-index: 1;
            bottom: -1.5px;
            width: 100%;
            height: 200px;
            transform: translateY(50%);
            background-position: center;
            z-index: 3;
            background-size: 100% 100%;
            pointer-events: none;
        }
    }

    &--home {
        position: relative;
        width: 100%;
        height: calc(100vh - 120px);
        min-height: 100vh;
        max-height: calc(100vh - 120px);
        min-height: calc(100vh - 120px);
        background-image: url(../img/bghome.png);
        background-attachment: fixed !important;
        background-size: 100% 100%;
        padding: 60px 0;
        display: flex;
        overflow: hidden;
        justify-content: center;


        @media screen and (max-width: 768px) {
            padding: 40px 0;
            max-height: calc(100vh - 80px);
            min-height: calc(100vh - 80px);
            transform: translate3d(0,0,0);
            -webkit-transform: translate3d(0,0,0);
            backface-visibility: hidden;
        }

        @media screen and (max-width: 768px) {
            display: block;
            background-size: cover;
            background-position: 68%;
        }

        @media screen and (max-height: 948px) and (min-width: 768px) and (max-width: 1455px){
            background-size: 120% 120%;
            background-position: 0%;
        }

        &__content{
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__brand {
            height: 115px;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 40px;

            
            @media screen and (min-width: 768px) and (max-height: 700px){
                margin-bottom: 15px;
            }

            @media screen and(max-width: 768px) {
                height: 70px;
            }


            @media screen and(max-width: 398px) {
                height: 60px;
                margin-bottom: 10px;
            }

            img {
                object-fit: contain;
                height: 100%;
            }
        }

        &__caption {
            height: 100%;
            padding-top: 40px;

            @media screen and (min-width: 768px) and (max-height: 700px){
                padding-top: 20px;
            }

            @media screen and (max-width: 768px) {
                padding-top: 20px;
            }

            &__line {
                width: 60px;
                height: 5px;
                background-color: #d0b376;
                border: none;
                margin: 30px 0 0 0;
                box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.247);

                @media screen and(max-width: 368px) {
                    margin: 10px 0;
                }
            }

            &__text {
                max-width: 100%;
                color: #d0b376;
                font-weight: 500;
                text-transform: uppercase;
                text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.356);
                font-size: 35px;
                letter-spacing: 5px;
                margin-bottom: 0;

                @media screen and (max-width: 998px) {
                    font-size: 30px;
                    letter-spacing: 1px;
                }

                @media screen and (max-width: 768px) {
                    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.658);
                    font-size: 23px;
                }

                @media screen and (min-width: 768px) and (max-height: 700px){
                    font-size: 30px;
                }
            }
        }

        &__hero {
            position: absolute;
            height: 500px;
            width: 700px;
            right: -180px;
            background-image: url(../img/hero1.png);
            background-size: contain;
            background-repeat: no-repeat;
            transition: all 0.3s ease-in;
            cursor: pointer;

            &:hover{
                transform: scale(1.02);
            }

            @media screen and (max-width: 768px) {
                position: relative;
                right: 80px;
                top: -30px;
                height: 230px;
                width: 400px;
                background-position:  center;
            }

            @media screen and (max-width: 398px) {
                right: 30px;
            }

            @media screen and (min-width: 1300px){
                height: 700px;
                width: 900px;
            }

            @media screen and (min-width: 768px) and (max-height: 730px){
                height: 450px;
                width: 650px;
            }
        }

    }
}