.lp-pant {
    &--info {
        background-image: url(../img/bginfo.png);
        background-size: cover;
        padding: 140px 0 80px 0;
        min-height: 100vh;
        text-align: justify;


        @media screen and (max-width: 768px) {
            display: block;
            background-position: 75% center;
        }

        @media screen and (max-height: 948px) and (min-width: 768px) and (max-width: 1455px) {
            background-size: 120% 110%;
            background-position: -110px;
        }

        .btn-col {
            position: relative;
            padding: 0;
            margin: 0;
        }

        &__conhecendo {
            padding: 40px 0;
            width: 100%;

            @media screen and(max-width: 768px) {
                .row {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &__importancia {

                @media screen and(max-width: 768px) {
                    margin-top: 30px;
                }

                &__title {
                    font-family: 'Utopia';
                    color: #d0b376;
                    font-size: 48px;
                    text-align: center;

                    @media screen and(max-width: 768px) {
                        font-size: 30px;
                    }
                }

                &__item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    text-align: center;
                    padding: 20px 80px;
                    background-color: #340c11;
                    background-image: url('../img/cardbg.png');
                    background-size: cover;
                    background-position: center;
                    min-height: 300px;
                    border-bottom: 15px solid;
                    border-image-source: linear-gradient(to right bottom, #aa6d28 50%, #FCF6BA, #f0e397, #aa6d28 100%);
                    border-image-slice: 1;
                    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.37);
                    height: 100%;

                    @media screen and(max-width: 768px) {
                        padding: 10px 30px;
                    }

                    @media screen and(max-width: 992px) {
                        &:not(:last-child) {
                            margin-bottom: 40px;
                        }
                    }

                    &__title {
                        font-family: 'Utopia';
                        color: #d0b376;
                        font-size: 30px;
                        margin-bottom: 10px;
                        font-weight: lighter;
                        text-transform: uppercase;
                        text-shadow: 1px 1px 10px rgba(2, 2, 2, 0.295);
                    }

                    &__text {
                        text-transform: lowercase;
                        color: #fff;
                    }
                }
            }

            &__queratina {
                margin-top: 80px;
                text-align: left;

                &__title {
                    margin-bottom: 10px;
                    text-shadow: 1px 1px 10px rgba(2, 2, 2, 0.295);
                    font-size: 35px;
                }

                .lp-pant--inner-desc {
                    margin-bottom: 20px !important;
                }

                img {
                    border-bottom: 15px solid;
                    border-image-source: linear-gradient(to right bottom, #aa6d28 50%, #FCF6BA, #f0e397, #aa6d28 100%);
                    border-image-slice: 1;
                    width: 100%;
                    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.37);
                }
            }

        }

        &__detalhes {
            width: 100%;

            &__resumo {
                margin-top: 30px;
                padding: 40px 0;
                width: 100%;

                @media screen and (max-width: 768px) {
                    padding-bottom: 0;
                }

                &__brand {
                    width: 80%;

                    @media screen and(max-width: 768px) {
                        width: 250px;
                        margin-bottom: 20px;
                    }
                }
            }

            &__caixa {
                padding-top: 80px;

                @media screen and(max-width: 768px) {
                    padding-top: 40px;
                }

                img {
                    width: 500px;

                    @media screen and(max-width: 768px) {
                        width: 70vw;
                    }
                }
            }

            &__porqueescolher {
                text-align: left;
                margin-top: 30px;

                @media screen and (max-width: 768px) {
                    margin-top: 0;
                }


                &__title {
                    margin-bottom: 5px;
                    text-shadow: 1px 1px 10px rgba(2, 2, 2, 0.295);
                }

                &__text {
                    text-align: justify;
                    letter-spacing: 1;
                    font-size: 18px;
                    line-height: 28px;

                    @media screen and (min-width: 768px) {
                        padding-right: 50px;
                    }
                }

                img {
                    border-bottom: 15px solid;
                    border-image-source: linear-gradient(to right bottom, #aa6d28 50%, #FCF6BA, #f0e397, #aa6d28 100%);
                    border-image-slice: 1;
                    width: 100%;
                    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.37);
                }
            }

        }
    }
}

.row {
    width: 100% !important;
}